.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 0.5px solid black;
  border-radius: 2px;
}

.nav-items >ul{
  display: flex;
  list-style-type: none;
}

.nav-items >ul >li{
  padding: 10px 10px 0;
  font-size: large;
  cursor: pointer;
}
.logo{
  padding-left: 10px;
  width: 100px;
}

.card{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border:0.5px solid black ;
}
.card > img{
  width: 100%;
  border-radius: 20px;
}
.list{
  display: flex;
  flex-wrap: wrap;
}
.search {
  display: flex;
  justify-content: center;
}
.search > input{
  
  padding: 20px;
  margin: 10px;
  padding-left: 40px;
  width: 50%;
  border-radius: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
